<main role="main">
  <article class="{{post_class}}">
    <div class="documentation-title">
      <ul class="menu vertical">
      {{#foreach posts}}
        <li><a href="{{url}}" alt="{{title}}">{{title}}</a></li>
      {{/foreach}}
      </ul>
    </div>
   </article>
</main>
    
